header{
    background-color: grey;
    height: 60px;
    position: fixed;
    top: 0px;
    right:0px;
    left: 0px;
    width: 100%;
}
.header li{
    display: inline-block;
    font-size: 20px;
    padding-right: 20px;
}
.headlink{
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    border-radius: 3px;
    background-color: azure;
    color: limegreen;
    font-weight: 600;
}
.headlink:hover{
    background-color: limegreen;
    color: azure;
}
#current {
    color:red;
}
body{
    background-color: lightgray;
}
/*intro div*/
h1{
    margin-top: 150px;
    text-align: center;
    font-size: 60px;
}
/*Soccer section*/
#soccer{
    color: red;
    display: inline;
    position: fixed;
}
/*Work section*/
#work{
    color: aqua;
    display: inline;
    position:relative;
    margin-right: 10px;
}
/*Education*/
/*Future*/
