body{
    background-color: lightgray;
    
}
nav{
    background-color: grey;
    height: 60px;
    position: fixed;
    top: 0px;
    right:0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.numberone{
    border: 1px dotted black;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.headlink{
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    border-radius: 3px;
    background-color: azure;
    color: limegreen;
    font-weight: 600;
}
.bottom-menu{
    
    display: grid;
    height: 300px;
    width: 800px;
    grid-template: 100% / 20% 20% 20% 20% 20%;
    margin: 0 auto;
}
.box{
    border: 1px dotted black;
}
.headlink:hover{
    background-color: limegreen;
    color: azure;
}
#current {
    color:red;
}

